<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/tests.log</file>
        <append>false</append>
        <encoder>
            <pattern>LOGBACK- %-5level %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %gray(\(%t\)) %green(%-5level) %highlight([%logger{36}]) %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>